@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-black: #272625;
  --color-white: #fffff3;
  --color-light-gray: #e3dede;
  --color-medium-gray: #5e5e5f;
  --color-dark-gray: #383a3f;
  --color-default: #4ea1d3;
  --color-point: #e85a71;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
}

main {
  flex: auto;
}

.container {
  max-width: 1440px;
  @apply mx-auto px-6;
}
